<div class="container">
  <h5><span class="bg-light text-dark">マイページ</span></h5>
  <span class="font-weight-bold">登録情報</span>
  <%= link_to "編集する",edit_customers_path,class:"btn btn-success" %><br>
  
  <table border="1" style="border-collapse: collapse">
    <tr>
        <td class="bg-light">ニックネーム</td>
        <td>
            <%=@customer.name %>
        </td>
    </tr>
    <tr>
        <td class="bg-light">メールアドレス</td>
        <td>
            <%=@customer.email %>
        </td>
    </tr>
  </table>
</div>


<%= link_to "お問い合わせ",new_inquiry_path,class:"btn btn-success" %>